:root {
  --update-gap: 50px;
}

.updateForm-container {
  background-color: var(--background-color);
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 4px 4px var(--neutral-shade-2);
  border-radius: 5px;
  box-sizing: border-box;
  padding: var(--update-gap);
  display: flex;
  flex-direction: column;
  row-gap: var(--update-gap);
}

.updateForm-gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--update-gap);
  row-gap: var(--update-gap);
}

.updateForm-closeContainer {
  width: 100%;
  height: fit-content;
  text-align: right;
}

.updateForm-buttonsContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  box-sizing: border-box;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.updateForm-cancelButton {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  color: var(--neutral-shade-4);
  box-sizing: border-box;
  padding-left: 0.75em;
  padding-right: 0.75em;

  transition: all ease-in-out 150ms;
}

.updateForm-cancelButton:hover {
  background-color: var(--accent-shade-red-1);
  border-radius: 5px;
  color: var(--neutral-shade-5);
}
